html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

.tall-btn {
    height: 50px;
}

.subcontrol-container {
    display: none !important;
}
